@tailwind base;
@tailwind components;
@tailwind utilities;

.flash {
  animation: flash_x 10s forwards infinite;
}

@keyframes flash_x {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
